
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}


/* LAYOUT */

.app{
    display: flex;
    height: 100vh;
    color: white;
    background-color: rgb(20, 24, 31);
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    min-width: calc(100% / 4);
    margin-bottom: 28px;
    
}


/* Header */
.app header{
    background-color: black;
    padding: 28px;
    width: 260px;
    position: relative;
    
}

.nav__logo{
    font-size: 40px;
    margin-bottom: 20px;
}

.profile__button{
    position: absolute;
    bottom: 20px;
}

/* Main */

.app main{
    flex-grow: 1;
}

.head-main{
    display: flex;
    background-color: rgb(16, 19, 25);
    flex-direction: row-reverse;
}

.button{
    color: black;
    background-color: white;
    line-height: 40px;
    border-radius: 999px;
    margin: 20px;
    padding: 0 10px;

}

.app__section{
    padding: 40px 28px;
}

.section__title{
    margin-bottom: 32px;
}

.article__title{
    margin-bottom: 15px;
}

.article{
    border-left: 4px solid white;
    padding: 0 12px;
}
